@charset "UTF-8";


/* 共通 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  padding-top: 32px;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #000;
  text-decoration: none;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 80px;
  padding: 4px;
}

h3 .line {
  border-bottom: 8px solid #FFCC00;
}

h4 {
  font-size: 20px;
}

p {
  line-height: 28px;
}

/* ヘッダーメニュー */
#top {
  background-color: #B13BFF;
  padding: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#top {
  scroll-margin-top: 80px;
}


.header-menu {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.header-menu li:hover {
  transform: scale(1.35);
}

/* ヒーローエリア */
.top-wrapper {
  display: flex;
  padding: 48px;
  margin-top: 60px;
}

.left-img {
  margin-top: 24px;
}

.right-text {
  margin-left: 100px;
}

h1 {
  font-size: 88px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

.btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  list-style: none;
  max-width: 600px;
  margin-top: 56px;
}

.btn li {
  background-color: #f2f2f2;
  border-radius: 999px;
  text-align: center;
  padding: 16px 80px;
}

.btn li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}

.btn li:hover {
  background-color: #D9D9D9;
  transition: background-color 0.3s ease;
}

.btn li.one {
  background-color: #B13BFF;
}

.btn li.one:hover {
  background-color: #FFCC00;
  ;
}

/* スクロール誘導img */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

img.down {
  animation: float 1.5s ease-in-out infinite;
  margin-top: 80px;
}

.down {
  margin-left: 400px;
}

/* 作品紹介 */
.work-intro {
  text-align: center;
  margin-top: 80px;
}

video {
  display: block;
  margin: 0 auto;
  width: 680px;
  height: 440px;
}

h4 {
  margin-top: 40px;
}

.work-intro p {
  margin: 16px 0 80px 0;
}

/* design */
.design-top {
  text-align: center;
  margin: 120px 0 60px 0;
}

.design-top p {
  margin-top: 16px;
}

.design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  text-align: center;
}

.design img {
  border: solid 3px #333;
  margin: 0 auto;
}

/* スキル紹介 */
.skill-wrapper {
  margin: 40px 0 80px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.skill-icon {
  border-radius: 50%;
}

.over-icon {
  overflow: hidden;
  padding: 4px;
  background-color: white;
  display: inline-block;
  border: solid 3px #000;
  border-radius: 50%;
}

/* 自己紹介 */
.about-wrapper {
  display: flex;
  padding: 40px;
  border: solid 3px #333;
  margin-top: 100px;
}

.about-wrapper img {
  border-radius: 50%;
  margin: 0 80px;
  border: 3px solid #000;
  background-color: #fff;
}

h5 {
  font-size: 32px;
  margin-bottom: 8px;
}

/* 連絡先 */
#contact {
  margin-top: 160px;
}

.contact-wrapper {
  padding: 40px 100px;
  text-align: center;
  margin-top: 40px;
}

.contact-wrapper img {
  margin-bottom: 32px;
}

.up {
  margin-left: 800px;
  padding: 16px;
  background-color: #B13BFF;
  border-radius: 50%;
}

/* フッター */
footer {
  text-align: center;
  padding: 48px;
  margin-top: 80px;
  background-color: #D9D9D9;
}


/* レスポンシブ対応 */

/* @media (max-width: 768px) */
/* スマホ用 */

/* header */
@media (max-width: 768px) {
  .top-wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .header-menu {
    max-width: 400px;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  /* hero */
  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* 画像 */
  .left-img img {
    max-width: 100%;
    height: auto;
  }

  /* テキスト側 */
  .top-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .right-text {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-img {
    max-width: 100%;
    height: auto;
  }

  .right-text h1 {
    order: 1;
    font-size: 8vw;
  }

  .right-text h2 {
    order: 2;
    font-size: 5vw;
  }

  .btn {
    order: 3;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .down {
    order: 5;
    margin-top: 2rem;
    width: 32px;
  }

  /* Works */
  .work-intro video {
    max-width: 80%;
    height: auto;
  }

  .work-intro p {
    font-size: 2vw;
  }

  /* design */
  .design-top p {
    font-size: 2vw;
  }

  .design {
    grid-template-columns: 1fr;
  }

  .design img {
    width: 100%;
    height: auto;
  }

  /* skill */
  .skill-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .over-icon {
    flex: 1 1 80px;
    max-width: 100px;
    height: auto;
  }

  .skill-icon {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* about */
  #about {
    margin-bottom: 80px;
  }

  .about-wrapper {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .about-wrapper img {
    max-width: 50%;
    height: auto;
  }

  .intro-text {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .intro-text p {
    font-size: 2vw;
  }

  /* contact */
  .contact-wrapper p {
    margin-bottom: 40px;
  }

  .up {
    max-width: 100px;
    margin: 0 auto;
  }
}


/* @media (max-width: 1024px) */
/* タブレット用 */

@media (max-width: 1024px) {

  /* hero */
  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* 画像 */
  .left-img img {
    max-width: 100%;
    height: auto;
  }

  /* テキスト側 */
  .top-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .right-text {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-img {
    max-width: 100%;
    height: auto;
  }

  .right-text h1 {
    order: 1;
    font-size: 8vw;
  }

  .right-text h2 {
    order: 2;
    font-size: 5vw;
  }

  .btn {
    order: 3;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .down {
    order: 5;
    margin-top: 2rem;
    width: 32px;
  }

  /* design */
  .design {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    text-align: center;
  }

  .design img {
    border: solid 3px #333;
    margin: 0 auto;
  }

  /* contact */
  .contact-wrapper p {
    margin-bottom: 40px;
  }
  
  .up {
    max-width: 100px;
    margin: 0 auto;
  }
}